
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Shadows+Into+Light+Two');

/*** START OF NAV PILL CSS  ***/
.btn-primary{
background-color:#034d74;
}

background-color: transparent;
.btn-group>.btn, .btn-lg {
  border-radius: 0;
  background-color: #034d74;
}
h1{
   text-align: center;
   font-family: 'Bilbo Swash Caps', cursive;
}
/*** END OF NAV PILL CSS  ***/

/*** START OF JUMBOTRON CSS ***/
.jumbotron{
  background-image: url("../img/portfoliobackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/*** END OF JUMBOTRON CSS ***/

/*** START ABOUT ME INTRO CSS ***/
.summary{
  width: 30%;
text-align: center;
padding: 93px;
}
.summary img{
  height: 200px;
  width: 200px;
  text-align: center;
    margin-top: 50px;
    margin-left: 529px;
}
.bundle{
    height: 155px;
    margin-top: 20px;
    background-color: #D5D5D5;
    padding: 14px 14.6px;
}
.bundle h3 {

}
.bundle p{
  font-family: 'Shadows Into Light Two', cursive;
}
/*** END ABOUT ME INTRO CSS ***/
.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}

/******* START OF ABOUT ME PAGE *******/

 /**Start of carousel slider**/
 .carousel-inner{
   max-width: 45%;
 }
